<div class="row text-center">
  <div class="col-md-12">
    <h1 class="text-muted">
      Controlling devices with MQTT and Raspberry Pi
    </h1>
    <br>
  </div>
  <div class="col-md-12">
    <li class="tg-list-item">
      <p>LED</p>
      <input class="tgl tgl-ios" id="led" type="checkbox" ng-model="params.led"></input>
      <label class="tgl-btn" for="led"></label>
      <hr>
    </li>
    <br><br>
    <li class="tg-list-item">
      <p>X Box</p>
      <input class="tgl tgl-ios" id="xbox" type="checkbox" ng-model="params.xbox"></input>
      <label class="tgl-btn" for="xbox"></label>
      <hr>
    </li>
  </div>
</div>
